<section id="showcase">
    <div class="container2">
    </div>
  </section>
  
  <header id="header">
    <div class="container2">
      <h1>Contact me</h1>
    </div>
  </header>


  <div class="container2">
    <div id="size">

    <span class="glyphicon glyphicon-map-marker" style="color:orangered"></span>&emsp;<span class="cantThink">Street Address:</span> 3, Gerogianni, 73134 Chania, Greece<br/>
    <span class="glyphicon glyphicon-phone" style="color:orangered"></span>&emsp;<span class="cantThink">Mobile Phone:</span> +30 697 396 6535<br/>
    <span class="glyphicon glyphicon-envelope" style="color:orangered"></span>&emsp;<span class="cantThink">Email:</span> vamvanikos@yahoo.com<br/>
    <span class="glyphicon glyphicon-comment" style="color:orangered"></span>&emsp;<span class="cantThink">Skype:</span> vamvanikos<br/>
    <span class="glyphicon glyphicon-user" style="color:orangered"></span>&emsp;<span class="cantThink">LinkedIn: </span><a href="https://www.linkedin.com/in/nikolas-vamvakakis-b14044157/" style="color:orange">Nikolas Vamvakakis</a><br/>

  </div>
  </div>