<section id="showcase">
  <div class="container">
  </div>
</section>

<header id="header">
  <div class="container">
    <h1 style="color:orangered">My Skills</h1>
  </div>
</header>

<div class="container">

  <div id="ITSkills">
    <div style="width:70%; text-align:center; padding-left:400px">
      <span class="subheading">IT Skills</span>
      <div class="progress" style="width:100%">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
          <span style="font-weight:bold; font-size:20px; padding-top:5px">70%</span>
        </div>
      </div>
    </div>
      <span style="font-size:28px; color:orangered">Programming Languages:</span> C, C++, Python, Java, Matlab, Assembly, R, PLC Programming Languages <br/>
      <span style="font-size:28px; color:orangered">Web Development:</span> HTML, Javascript, CSS, Angular <br/>
      <span style="font-size:28px; color:orangered">Database Development:</span> MS SQL Server, MySQL <br/>
      <span style="font-size:28px; color:orangered">Software &amp; Scientific Tools:</span> Weka, RStudio, SPSS, CODESYS, StarUML<br/>
      <span style="font-size:28px; color:orangered">Operating Systems:</span> Windows, Linux (Kali, Ubuntu), Android
  </div>

  <br/><br/>

  <div id="CaCS">
    <div style="width:70%; text-align:center; padding-left:400px">
      <span class="subheading">Communications And Cyber Security Tools</span>
      <div class="progress" style="width:100%">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
         <span style="font-weight:bold; font-size:20px; padding-top:5px">60%</span>
        </div>
      </div>
    </div>
    <span style="font-size:28px; color:orangered">Network Monitor and Analysis:</span> Burp Suite, WireShark, Metasploit, Nmap <br/>
      <span style="font-size:28px; color:orangered">Forensics:</span> FTK Imager, dd, Autopsy, Encase <br/>
      <span style="font-size:28px; color:orangered">Other:</span>Apache Tomcat, VirtualBox
  </div>

  <br/><br/>

  <div id="Engineering">
      <div style="width:70%; text-align:center; padding-left:400px">
          <span class="subheading">Engineering Tools</span>
          <div class="progress" style="width:100%">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
             <span style="font-weight:bold; font-size:20px; padding-top:5px; color:#DC143C">40%</span>
            </div>
          </div>
        </div>
      OrCAD<br/> Virtuoso Layout Suite (Cadence)<br/> Spice<br/> EWB (electronic workbench)
  </div>

  <br/><br/>

  <div id="OtherSkills">
      <div style="width:70%; text-align:center; padding-left:400px">
          <span class="subheading">Other Skills</span>
          <div class="progress" style="width:100%">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
             <span style="font-weight:bold; font-size:20px; padding-top:5px">55%</span>
            </div>
          </div>
        </div>
      Web design (WordPress)<br/>
      Game Design (Unity)<br/>
      High-quality typesetting (LaTex)<br>
      GitHub
  </div>

  <br/><br/>

  <div id="Languages">
      <div style="width:70%; text-align:center; padding-left:400px">
          <span class="subheading">Languages</span>
          <div class="progress" style="width:100%">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
             <span style="font-weight:bold; font-size:20px; padding-top:5px">95%</span>
            </div>
          </div>
        </div>
    <span style="font-size:28px; color:orangered">Greek:</span> Native Language <br/>
    <span style="font-size:28px; color:orangered">English:</span> Proficient User C2
  </div>

</div>