<section id="showcase">
  <div class="container">
  </div>
</section>

<header id="header">
  <div class="container">
    <h1>Personal Information</h1>
  </div>
</header>

<div class="container">
  <div id="PersonalInfo">
      <span class="blue">class</span> <span class="orangered">WhoAmI</span><span class="blue">&#123;</span> <br/>
      &emsp;<span class="orangered">Name</span><span class="blue">:</span> Nivakos<span class="blue">;</span> <br/>
      &emsp;<span class="orangered">Surname</span><span class="blue">:</span> Yariba<span class="blue">;</span> <br/>
      &emsp;<span class="orangered">DateOfBirth</span><span class="blue">:</span> 6 May 1992<span class="blue">;</span> <br/>
      &emsp;<span class="orangered">Nationality</span><span class="blue">:</span> Greek<span class="blue">;</span> <br/>
      &emsp;<span class="orangered">B.Sc.</span><span class="blue">:</span> Electrical and Computer Engineering<span class="blue">;</span> <br/>

      <br/>

      &emsp;<span class="blue">function</span> <span class="orangered">PersonalLife&#40;&#41;</span><span class="blue">&#123;</span> <br/>
      &emsp;&emsp; <span style="color:yellowgreen">console.log</span><span class="blue">&#40;</span> <br/>
      &emsp;&emsp;&emsp;    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br/> 
      &emsp;&emsp;&emsp;    tempor incididunt ut labore et dolore magna aliqua. Neque gravida in f-<br/>
      &emsp;&emsp;&emsp;    ermentum et sollicitudin ac orci phasellus. Eget arcu dictum varius dui<br/>
      &emsp;&emsp;&emsp;    s at consectetur. Urna porttitor rhoncus dolor purus non enim praesenta<br/> 
      &emsp;&emsp;&emsp;    elementum. Quis blandit turpis cursus in hac habitasse. Id aliquet risa<br/>
      &emsp;&emsp;&emsp;    us feugiat in ante metus dictum. Dis parturient montes nascetur ridicua<br/>
      &emsp;&emsp;&emsp;    lus mus. Nam aliquam sem et tortor consequat id. Dignissim convallis at<br/>
      &emsp;&emsp;&emsp;    enean et tortor at risus viverra. Posuere urna nec tincidunt praesent a<br/>
      &emsp;&emsp;&emsp;    semper feugiat. Suscipit adipiscing bibendum est ultricies integer quia<br/>
      &emsp;&emsp;&emsp;    sauctor elit sed. Imperdiet sed euismod nisi porta lorem mollis aliquaa<br/>
      &emsp;&emsp;&emsp;    m ut porttitor. <br/>
      &emsp;&emsp;  <span class="blue">&#41;&#125;</span> <br/><br/>

      &emsp;<span class="blue">function</span> <span class="orangered">CareerInterests&#40;&#41;</span><span class="blue">&#123;</span> <br/>
      &emsp;&emsp; <span style="color:yellowgreen">console.log</span><span class="blue">&#40;</span> <br/>
      &emsp;&emsp;&emsp;    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br/> 
      &emsp;&emsp;&emsp;    tempor incididunt ut labore et dolore magna aliqua. Neque gravida in f-<br/>
      &emsp;&emsp;&emsp;    ermentum et sollicitudin ac orci phasellus. Eget arcu dictum varius dui<br/>
      &emsp;&emsp;&emsp;    s at consectetur. Urna porttitor rhoncus dolor purus non enim praesenta<br/> 
      &emsp;&emsp;&emsp;    elementum. Quis blandit turpis cursus in hac habitasse. Id aliquet risa<br/>
      &emsp;&emsp;&emsp;    us feugiat in ante metus dictum. Dis parturient montes nascetur ridicua<br/>
      &emsp;&emsp;&emsp;    lus mus. Nam aliquam sem et tortor consequat id. Dignissim convallis at<br/>
      &emsp;&emsp;&emsp;    enean et tortor at risus viverra. Posuere urna nec tincidunt praesent a<br/>
      &emsp;&emsp;&emsp;    semper feugiat. Suscipit adipiscing bibendum est ultricies integer quia<br/>
      &emsp;&emsp;&emsp;    sauctor elit sed. Imperdiet sed euismod nisi porta lorem mollis aliquaa<br/>
      &emsp;&emsp;  <span class="blue">&#41;&#125;</span> <br/>



      <span class="blue">&#125;</span>
  </div>
</div>